#blogMain{color: white;}
html{
    background-color: rgb(24, 25, 44);
}

code{
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: small;
}

pre{
    background-color: rgb(0, 0, 0);
}