html
{
    margin:0;
    width: 100%;
    height: 100%;
    
    background-color: rgb(24, 25, 44);
    background-image: url(../img/kangtaoNoDash.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center bottom;
}
/*如果设置为100%后出现了滚动条，将margin设置为0，因为浏览器的margin默认可能不是0*/
body
{
    margin:0;
    width: 100%;
    height: 100%;
}

#time
{
    position: absolute;
    top:0;
    left:45%;
    width:10%;
    height: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
}

#kangtaoLine
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#innerPage
{
    position:absolute;
    top: 30px;
    left: 5%;
    width: 90%;
}

#goback
{
    position:absolute;
    top:0;
    right:100%;
    width: 50px;
    height: 24px;
}

#innerFrame
{
    position:absolute;
    top:0;
    left:0;
    border: none;
    background: none;
}